#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color-scheme: light;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-grid {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.key {
  padding: 12px 16px;
  min-width: 38px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  background-color: #e2ecee;
}

.key.correct {
  background-color: #6aaa64; /* Green for correct */
}

.key.misplaced {
  background-color: #c9b458;
}

.key.incorrect {
  background-color: #787c7e;
}

.box.correct {
  background-color: #6aaa64; /* Green for correct */
  color: white;
}

.box.misplaced {
  background-color: #c9b458; /* Yellow for misplaced */
  color: white;
}

.box.incorrect {
  background-color: #787c7e; /* Gray for incorrect */
  color: white;
}

.winner-message {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  color: #6aaa64;
}

.gameover-message {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  color: #e89210;
}
